form {
    width: 500px;
    margin: 0 auto;
}

.campo {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    font-size: 16px;
    font-weight: bold;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

.campo input {
    margin-top: 5px;
}


