h1{
    border: 1px solid red;
    background-color: rgb(7, 56, 56);
    color: rgb(44, 34, 133);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    border: 1px solid rgb(241, 39, 39);
    background-color: rgb(49, 206, 109);
    color: rgb(237, 24, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

